@model Haleji.BusinessObjects.Movement
    <!-- Modal -->
<div class="modal fade" id="edittransferItem" tabindex="-1" role="dialog" aria-labelledby="editIssueItemTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="edittransferItemTitle">Edit Transfer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Modal Body -->
                    <div class="row">
                        <div class="col-md-8">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="MovementId" class="form-control" type="hidden" />
                            <input asp-for="PurchaseId" class="form-control" type="hidden" />
                            <input asp-for="TransactionTypeId" class="form-control" type="hidden" />
                            <div class="form-group">
                                <label asp-for="MovDate" class="control-label"></label>
                                <input asp-for="MovDate" class="form-control" />
                                <span asp-validation-for="MovDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ItemName" class="control-label"></label>
                                <input asp-for="ItemName" class="form-control" readonly />
                                <span asp-validation-for="ItemName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PersonId" class="control-label"></label>
                                @*<input asp-for="PersonId" class="form-control" />*@
                                <select asp-for="PersonId" asp-items="@ViewBag.PersonList" class="form-control"></select>
                                <span asp-validation-for="PersonId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LocationId" class="control-label"></label>
                                @*<input asp-for="LocationId" class="form-control" />*@
                                <select asp-for="LocationId" asp-items="@ViewBag.LocationList" class="form-control"></select>
                                <span asp-validation-for="LocationId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-save="modal">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
