@model Haleji.BusinessObjects.Person
    <!-- Modal -->
<div class="modal fade" id="createPerson" tabindex="-1" role="dialog" aria-labelledby="createPersonTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPersonTitle">Create Person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Modal Body -->
                    <div class="row">
                        <div class="col-md-8">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @*<input asp-for="PersonId" class="form-control" type="hidden" />*@
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DepartmentId" class="control-label"></label>
                                @*<input asp-for="DepartmentId" class="form-control" />*@
                                <select asp-for="DepartmentId" asp-items="@ViewBag.DepartmentList" class="form-control search-list"></select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contact" class="control-label"></label>
                                <input asp-for="Contact" class="form-control" />
                                <span asp-validation-for="Contact" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Ext" class="control-label"></label>
                                <input asp-for="Ext" class="form-control" />
                                <span asp-validation-for="Ext" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-save="modal">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        $('.search-list').select2();
    });
    </script>

}

