@model Haleji.BusinessObjects.Person
    <!-- Modal -->
<div class="modal fade" id="deletePerson" tabindex="-1" role="dialog" aria-labelledby="deletePersonTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="Delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePersonTitle">Delete Person</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Modal Body -->
                    <input asp-for="PersonId" type="hidden" />
                    <dl class="row">
                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-4">
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </dt>
                        <dd class="col-md-8">
                            @Html.DisplayFor(model => model.DepartmentName)
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" data-save="modal">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
